# PYTHON TASK

# II. Data Processing

Deliverable:<br>
- Script or spreadsheet used for this step<br>
- Three (3) output tables (one file in csv or xlsx format with three different tables: one with data
by month, another with data summarized by quarter, another with data summarized by year)

In [42]:
import pandas as pd

# a. From the data downloaded in the previous step, read the time series for “US Refinery and Blender Net Input of Crude Oil” by PADD

In [43]:
PADD = pd.read_csv('C:/Users/dkmii/Desktop/RystadEnergy/RawData.csv')

In [3]:
print(PADD)

     Unnamed: 0  Period_Monthly_Frequency  \
0             0                    202103
1             1                    202102
2             2                    202101
3             3                    202012
4             4                    202011
..          ...                       ...
478         478                    198105
479         479                    198104
480         480                    198103
481         481                    198102
482         482                    198101

     PADD1_value_in_Thousand_Barrels_per_Day  \
0                                        677
1                                        592
2                                        597
3                                        592
4                                        591
..                                       ...
478                                     1140
479                                     1286
480                                     1399
481                                     1459
482                                     1470

     PAAD2_value_in_Thousand_Barrels_per_Day  \
0                                       3617
1                                       3297
2                                       3628
3                                       3427
4                                       3503
..                                       ...
478                                     2870
479                                     2782
480                                     2895
481                                     3188
482                                     3374

     PAAD3_value_in_Thousand_Barrels_per_Day  \
0                                       7512
1                                       6042
2                                       7919
3                                       7751
4                                       7601
..                                       ...
478                                     5774
479                                     5632
480                                     5501
481                                     5645
482                                     5752

     PAAD4_value_in_Thousand_Barrels_per_Day  \
0                                        557
1                                        580
2                                        559
3                                        547
4                                        552
..                                       ...
478                                      403
479                                      366
480                                      391
481                                      408
482                                      431

     PAAD5_value_in_Thousand_Barrels_per_Day
0                                       2020
1                                       1863
2                                       1822
3                                       1823
4                                       1878
..                                       ...
478                                     2122
479                                     2025
480                                     2198
481                                     2203
482                                     2220

[483 rows x 7 columns]

In [44]:
PADD.head(60)

,Unnamed: 0,Period_Monthly_Frequency,PADD1_value_in_Thousand_Barrels_per_Day,PAAD2_value_in_Thousand_Barrels_per_Day,PAAD3_value_in_Thousand_Barrels_per_Day,PAAD4_value_in_Thousand_Barrels_per_Day,PAAD5_value_in_Thousand_Barrels_per_Day
0,0,202103,677,3617,7512,557,2020
1,1,202102,592,3297,6042,580,1863
2,2,202101,597,3628,7919,559,1822
3,3,202012,592,3427,7751,547,1823
4,4,202011,591,3503,7601,552,1878
5,5,202010,570,3432,7049,532,1863
6,6,202009,548,3507,7000,586,1932
7,7,202008,599,3665,7377,595,1916
8,8,202007,523,3594,7765,611,1844
9,9,202006,606,3322,7477,575,1752
10,10,202005,598,3091,7130,486,1654
11,11,202004,527,2914,7238,441,1667
12,12,202003,637,3440,8443,551,2155
13,13,202002,689,3753,8393,623,2408
14,14,202001,767,3792,8792,623,2257
15,15,201912,804,3927,9001,646,2415
16,16,201911,799,3823,8856,591,2413
17,17,201910,730,3653,8339,544,2414
18,18,201909,819,3888,8701,639,2356
19,19,201908,846,4106,9103,692,2550
20,20,201907,887,4083,9006,687,2511
21,21,201906,1035,3917,9126,677,2481
22,22,201905,1087,3530,9061,659,2382
23,23,201904,1029,3743,8792,569,2208
24,24,201903,913,3535,8520,608,2359
25,25,201902,776,3527,8591,605,2348
26,26,201901,1013,3879,8858,633,2400
27,27,201812,1048,3931,9375,613,2443
28,28,201811,1008,3820,9251,579,2504
29,29,201810,922,3240,9229,636,2385
30,30,201809,1003,3647,9126,656,2558
31,31,201808,1068,3995,9350,609,2601
32,32,201807,1139,3892,9088,642,2596
33,33,201806,1128,3979,9273,649,2637
34,34,201805,1157,4045,8862,586,2319
35,35,201804,1110,3905,8866,574,2311
36,36,201803,920,3706,8871,615,2554
37,37,201802,968,3638,8294,655,2382
38,38,201801,1068,3736,8772,630,2393
39,39,201712,1116,3818,9220,597,2523
40,40,201711,1160,3735,8947,582,2415
41,41,201710,1096,3411,8656,624,2274
42,42,201709,1106,3699,7437,671,2548
43,43,201708,1140,3981,8611,656,2593
44,44,201707,1078,3859,9226,650,2503
45,45,201706,1129,3910,9181,611,2373
46,46,201705,1111,3819,9297,617,2379
47,47,201704,1062,3801,8925,648,2519
48,48,201703,891,3698,8502,606,2351
49,49,201702,902,3628,8178,590,2194
50,50,201701,1050,3722,8387,613,2346
51,51,201612,1063,3714,8879,602,2258
52,52,201611,1118,3674,8650,626,2167
53,53,201610,1091,3577,8108,592,2086
54,54,201609,1108,3624,8497,644,2467
55,55,201608,1098,3746,8605,612,2533
56,56,201607,1061,3723,8719,631,2486
57,57,201606,1126,3683,8579,647,2399
58,58,201605,1184,3607,8565,575,2306
59,59,201604,1158,3334,8468,514,2447

In [45]:
PADD.tail(60)

,Unnamed: 0,Period_Monthly_Frequency,PADD1_value_in_Thousand_Barrels_per_Day,PAAD2_value_in_Thousand_Barrels_per_Day,PAAD3_value_in_Thousand_Barrels_per_Day,PAAD4_value_in_Thousand_Barrels_per_Day,PAAD5_value_in_Thousand_Barrels_per_Day
423,423,198512,1192,2756,5895,419,2308
424,424,198511,1144,2835,5722,428,2281
425,425,198510,1198,2745,5542,438,2286
426,426,198509,1107,2795,5267,454,2300
427,427,198508,1186,2924,5234,481,2222
428,428,198507,1196,2883,5542,460,2364
429,429,198506,1226,2882,5404,469,2310
430,430,198505,1152,2703,5519,471,2248
431,431,198504,1148,2647,5389,339,2282
432,432,198503,1106,2499,5160,402,2204
433,433,198502,1095,2536,5234,396,2105
434,434,198501,1079,2649,5142,420,2153
435,435,198412,1205,2721,5222,436,2171
436,436,198411,1181,2677,5599,439,2211
437,437,198410,1078,2478,5704,438,2280
438,438,198409,1169,2835,5547,442,2279
439,439,198408,1228,2865,5566,452,2235
440,440,198407,1158,2881,5357,461,2171
441,441,198406,1180,2974,5375,456,2271
442,442,198405,1130,2743,5618,456,2299
443,443,198404,813,2697,5687,426,2267
444,444,198403,1035,2817,5549,414,2113
445,445,198402,1057,2799,5791,403,2106
446,446,198401,1032,2652,5436,403,2064
447,447,198312,923,2694,5060,408,2150
448,448,198311,907,2832,5714,438,2112
449,449,198310,988,2718,5547,442,2086
450,450,198309,1174,2874,5868,454,2112
451,451,198308,1181,2950,5404,459,2158
452,452,198307,1121,2852,5628,464,2296
453,453,198306,1096,2830,5630,443,2284
454,454,198305,1076,2654,5497,424,2150
455,455,198304,1062,2721,5312,376,1964
456,456,198303,894,2576,5140,366,1883
457,457,198302,967,2562,4727,360,2017
458,458,198301,1055,2680,5025,400,1983
459,459,198212,1132,2716,5185,447,2035
460,460,198211,1181,2644,5488,428,1983
461,461,198210,1111,2621,5655,427,1935
462,462,198209,1171,2924,5522,442,2087
463,463,198208,1150,2837,5375,452,2056
464,464,198207,1291,3029,5643,446,2037
465,465,198206,1349,3001,5649,436,2060
466,466,198205,1092,2755,5525,378,2056
467,467,198204,1173,2668,5164,357,2030
468,468,198203,1201,2648,5065,384,1978
469,469,198202,1240,2730,4903,380,1984
470,470,198201,1273,2762,5147,412,2005
471,471,198112,1314,2977,5521,451,2087
472,472,198111,1375,2932,5292,463,2178
473,473,198110,1337,2860,5321,391,2149
474,474,198109,1293,3014,5561,441,2196
475,475,198108,1374,3062,5761,457,2254
476,476,198107,1289,2873,5500,454,2145
477,477,198106,1281,2808,5601,448,2276
478,478,198105,1140,2870,5774,403,2122
479,479,198104,1286,2782,5632,366,2025
480,480,198103,1399,2895,5501,391,2198
481,481,198102,1459,3188,5645,408,2203
482,482,198101,1470,3374,5752,431,2220

# b. Keep data from January 2016 onwards, delete all other rows

# #A/c to the dataFrame,to keep the data from January 2016 onwards, we need only first 62 row's data.

In [46]:
PADD=PADD.iloc[:63,:]

In [47]:
df1=PADD

In [48]:
df1

,Unnamed: 0,Period_Monthly_Frequency,PADD1_value_in_Thousand_Barrels_per_Day,PAAD2_value_in_Thousand_Barrels_per_Day,PAAD3_value_in_Thousand_Barrels_per_Day,PAAD4_value_in_Thousand_Barrels_per_Day,PAAD5_value_in_Thousand_Barrels_per_Day
0,0,202103,677,3617,7512,557,2020
1,1,202102,592,3297,6042,580,1863
2,2,202101,597,3628,7919,559,1822
3,3,202012,592,3427,7751,547,1823
4,4,202011,591,3503,7601,552,1878
...,...,...,...,...,...,...,...
58,58,201605,1184,3607,8565,575,2306
59,59,201604,1158,3334,8468,514,2447
60,60,201603,1061,3409,8643,583,2387
61,61,201602,1093,3627,8269,575,2279
62,62,201601,1137,3724,8146,575,2370

In [24]:
PADD.head(60)

,Unnamed: 0,Period_Monthly_Frequency,PADD1_value_in_Thousand_Barrels_per_Day,PAAD2_value_in_Thousand_Barrels_per_Day,PAAD3_value_in_Thousand_Barrels_per_Day,PAAD4_value_in_Thousand_Barrels_per_Day,PAAD5_value_in_Thousand_Barrels_per_Day
0,0,202103,677,3617,7512,557,2020
1,1,202102,592,3297,6042,580,1863
2,2,202101,597,3628,7919,559,1822
3,3,202012,592,3427,7751,547,1823
4,4,202011,591,3503,7601,552,1878
5,5,202010,570,3432,7049,532,1863
6,6,202009,548,3507,7000,586,1932
7,7,202008,599,3665,7377,595,1916
8,8,202007,523,3594,7765,611,1844
9,9,202006,606,3322,7477,575,1752
10,10,202005,598,3091,7130,486,1654
11,11,202004,527,2914,7238,441,1667
12,12,202003,637,3440,8443,551,2155
13,13,202002,689,3753,8393,623,2408
14,14,202001,767,3792,8792,623,2257
15,15,201912,804,3927,9001,646,2415
16,16,201911,799,3823,8856,591,2413
17,17,201910,730,3653,8339,544,2414
18,18,201909,819,3888,8701,639,2356
19,19,201908,846,4106,9103,692,2550
20,20,201907,887,4083,9006,687,2511
21,21,201906,1035,3917,9126,677,2481
22,22,201905,1087,3530,9061,659,2382
23,23,201904,1029,3743,8792,569,2208
24,24,201903,913,3535,8520,608,2359
25,25,201902,776,3527,8591,605,2348
26,26,201901,1013,3879,8858,633,2400
27,27,201812,1048,3931,9375,613,2443
28,28,201811,1008,3820,9251,579,2504
29,29,201810,922,3240,9229,636,2385
30,30,201809,1003,3647,9126,656,2558
31,31,201808,1068,3995,9350,609,2601
32,32,201807,1139,3892,9088,642,2596
33,33,201806,1128,3979,9273,649,2637
34,34,201805,1157,4045,8862,586,2319
35,35,201804,1110,3905,8866,574,2311
36,36,201803,920,3706,8871,615,2554
37,37,201802,968,3638,8294,655,2382
38,38,201801,1068,3736,8772,630,2393
39,39,201712,1116,3818,9220,597,2523
40,40,201711,1160,3735,8947,582,2415
41,41,201710,1096,3411,8656,624,2274
42,42,201709,1106,3699,7437,671,2548
43,43,201708,1140,3981,8611,656,2593
44,44,201707,1078,3859,9226,650,2503
45,45,201706,1129,3910,9181,611,2373
46,46,201705,1111,3819,9297,617,2379
47,47,201704,1062,3801,8925,648,2519
48,48,201703,891,3698,8502,606,2351
49,49,201702,902,3628,8178,590,2194
50,50,201701,1050,3722,8387,613,2346
51,51,201612,1063,3714,8879,602,2258
52,52,201611,1118,3674,8650,626,2167
53,53,201610,1091,3577,8108,592,2086
54,54,201609,1108,3624,8497,644,2467
55,55,201608,1098,3746,8605,612,2533
56,56,201607,1061,3723,8719,631,2486
57,57,201606,1126,3683,8579,647,2399
58,58,201605,1184,3607,8565,575,2306
59,59,201604,1158,3334,8468,514,2447

In [25]:
PADD.drop(["Unnamed: 0"], axis=1, inplace=True)

C:\Users\dkmii\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [26]:
df2=PADD

In [27]:
df2

,Period_Monthly_Frequency,PADD1_value_in_Thousand_Barrels_per_Day,PAAD2_value_in_Thousand_Barrels_per_Day,PAAD3_value_in_Thousand_Barrels_per_Day,PAAD4_value_in_Thousand_Barrels_per_Day,PAAD5_value_in_Thousand_Barrels_per_Day
0,202103,677,3617,7512,557,2020
1,202102,592,3297,6042,580,1863
2,202101,597,3628,7919,559,1822
3,202012,592,3427,7751,547,1823
4,202011,591,3503,7601,552,1878
...,...,...,...,...,...,...
58,201605,1184,3607,8565,575,2306
59,201604,1158,3334,8468,514,2447
60,201603,1061,3409,8643,583,2387
61,201602,1093,3627,8269,575,2279
62,201601,1137,3724,8146,575,2370

# c. Rearrange the data to be displayed in the following columns [‘Year’, ‘Quarter’, ‘Month’, ‘(PADD 1) Refinery and Blender Net Input of Crude Oil’, ‘(PADD 2) Refinery and Blender Net Input of Crude Oil’, ‘(PADD 3) Refinery and Blender Net Input of Crude Oil’, ‘(PADD 4) Refinery and Blender Net Input of Crude Oil’, ‘(PADD 5) Refinery and Blender Net Input of Crude Oil’]

In [49]:
for x in PADD.iloc[0:1,:]:
    print(x)

Unnamed: 0
Period_Monthly_Frequency
PADD1_value_in_Thousand_Barrels_per_Day
PAAD2_value_in_Thousand_Barrels_per_Day
PAAD3_value_in_Thousand_Barrels_per_Day
PAAD4_value_in_Thousand_Barrels_per_Day
PAAD5_value_in_Thousand_Barrels_per_Day

In [29]:
period_month=[]
period_quarter=[]
period_year=[]
for x in PADD['Period_Monthly_Frequency']:
    strX=str(x)
    MM=strX[4:]
    period_month.append(MM)
    YYYY=strX[:4]
    period_year.append(int(YYYY))
    MM=int(MM)
    
    if (MM-1)//3 + 1 == 1:
        period_quarter.append('Q1')
    elif (MM-1)//3 + 1 == 2:
        period_quarter.append('Q2')
    elif (MM-1)//3 + 1 == 3:
        period_quarter.append('Q3')
    elif (MM-1)//3 + 1 == 4:
        period_quarter.append('Q4')

In [30]:
print(period_month)

['03', '02', '01', '12', '11', '10', '09', '08', '07', '06', '05', '04', '03', '02', '01', '12', '11', '10', '09', '08', '07', '06', '05', '04', '03', '02', '01', '12', '11', '10', '09', '08', '07', '06', '05', '04', '03', '02', '01', '12', '11', '10', '09', '08', '07', '06', '05', '04', '03', '02', '01', '12', '11', '10', '09', '08', '07', '06', '05', '04', '03', '02', '01']

In [32]:
print(period_quarter)

['Q1', 'Q1', 'Q1', 'Q4', 'Q4', 'Q4', 'Q3', 'Q3', 'Q3', 'Q2', 'Q2', 'Q2', 'Q1', 'Q1', 'Q1', 'Q4', 'Q4', 'Q4', 'Q3', 'Q3', 'Q3', 'Q2', 'Q2', 'Q2', 'Q1', 'Q1', 'Q1', 'Q4', 'Q4', 'Q4', 'Q3', 'Q3', 'Q3', 'Q2', 'Q2', 'Q2', 'Q1', 'Q1', 'Q1', 'Q4', 'Q4', 'Q4', 'Q3', 'Q3', 'Q3', 'Q2', 'Q2', 'Q2', 'Q1', 'Q1', 'Q1', 'Q4', 'Q4', 'Q4', 'Q3', 'Q3', 'Q3', 'Q2', 'Q2', 'Q2', 'Q1', 'Q1', 'Q1']

In [33]:
print(period_year)

[2021, 2021, 2021, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016]

In [34]:
DataFrame_C = {'Period':PADD['Period_Monthly_Frequency'],
               'Year':period_year,
               'Quarter':period_quarter,
               'Month':period_month,
               '(PADD1) Refinery and Blender Net Input of Crude Oil': PADD['PADD1_value_in_Thousand_Barrels_per_Day'],
               '(PADD2) Refinery and Blender Net Input of Crude Oil': PADD['PAAD2_value_in_Thousand_Barrels_per_Day'],
               '(PADD3) Refinery and Blender Net Input of Crude Oil': PADD['PAAD3_value_in_Thousand_Barrels_per_Day'],
               '(PADD4) Refinery and Blender Net Input of Crude Oil': PADD['PAAD4_value_in_Thousand_Barrels_per_Day'],
               '(PADD5) Refinery and Blender Net Input of Crude Oil': PADD['PAAD5_value_in_Thousand_Barrels_per_Day']}

C_Final_dataFrame=pd.DataFrame(DataFrame_C)

In [36]:
C_Final_dataFrame

,Period,Year,Quarter,Month,(PADD1) Refinery and Blender Net Input of Crude Oil,(PADD2) Refinery and Blender Net Input of Crude Oil,(PADD3) Refinery and Blender Net Input of Crude Oil,(PADD4) Refinery and Blender Net Input of Crude Oil,(PADD5) Refinery and Blender Net Input of Crude Oil
0,202103,2021,Q1,03,677,3617,7512,557,2020
1,202102,2021,Q1,02,592,3297,6042,580,1863
2,202101,2021,Q1,01,597,3628,7919,559,1822
3,202012,2020,Q4,12,592,3427,7751,547,1823
4,202011,2020,Q4,11,591,3503,7601,552,1878
...,...,...,...,...,...,...,...,...,...
58,201605,2016,Q2,05,1184,3607,8565,575,2306
59,201604,2016,Q2,04,1158,3334,8468,514,2447
60,201603,2016,Q1,03,1061,3409,8643,583,2387
61,201602,2016,Q1,02,1093,3627,8269,575,2279
62,201601,2016,Q1,01,1137,3724,8146,575,2370

In [37]:
C_Final_dataFrame.head(60)

,Period,Year,Quarter,Month,(PADD1) Refinery and Blender Net Input of Crude Oil,(PADD2) Refinery and Blender Net Input of Crude Oil,(PADD3) Refinery and Blender Net Input of Crude Oil,(PADD4) Refinery and Blender Net Input of Crude Oil,(PADD5) Refinery and Blender Net Input of Crude Oil
0,202103,2021,Q1,03,677,3617,7512,557,2020
1,202102,2021,Q1,02,592,3297,6042,580,1863
2,202101,2021,Q1,01,597,3628,7919,559,1822
3,202012,2020,Q4,12,592,3427,7751,547,1823
4,202011,2020,Q4,11,591,3503,7601,552,1878
5,202010,2020,Q4,10,570,3432,7049,532,1863
6,202009,2020,Q3,09,548,3507,7000,586,1932
7,202008,2020,Q3,08,599,3665,7377,595,1916
8,202007,2020,Q3,07,523,3594,7765,611,1844
9,202006,2020,Q2,06,606,3322,7477,575,1752
10,202005,2020,Q2,05,598,3091,7130,486,1654
11,202004,2020,Q2,04,527,2914,7238,441,1667
12,202003,2020,Q1,03,637,3440,8443,551,2155
13,202002,2020,Q1,02,689,3753,8393,623,2408
14,202001,2020,Q1,01,767,3792,8792,623,2257
15,201912,2019,Q4,12,804,3927,9001,646,2415
16,201911,2019,Q4,11,799,3823,8856,591,2413
17,201910,2019,Q4,10,730,3653,8339,544,2414
18,201909,2019,Q3,09,819,3888,8701,639,2356
19,201908,2019,Q3,08,846,4106,9103,692,2550
20,201907,2019,Q3,07,887,4083,9006,687,2511
21,201906,2019,Q2,06,1035,3917,9126,677,2481
22,201905,2019,Q2,05,1087,3530,9061,659,2382
23,201904,2019,Q2,04,1029,3743,8792,569,2208
24,201903,2019,Q1,03,913,3535,8520,608,2359
25,201902,2019,Q1,02,776,3527,8591,605,2348
26,201901,2019,Q1,01,1013,3879,8858,633,2400
27,201812,2018,Q4,12,1048,3931,9375,613,2443
28,201811,2018,Q4,11,1008,3820,9251,579,2504
29,201810,2018,Q4,10,922,3240,9229,636,2385
30,201809,2018,Q3,09,1003,3647,9126,656,2558
31,201808,2018,Q3,08,1068,3995,9350,609,2601
32,201807,2018,Q3,07,1139,3892,9088,642,2596
33,201806,2018,Q2,06,1128,3979,9273,649,2637
34,201805,2018,Q2,05,1157,4045,8862,586,2319
35,201804,2018,Q2,04,1110,3905,8866,574,2311
36,201803,2018,Q1,03,920,3706,8871,615,2554
37,201802,2018,Q1,02,968,3638,8294,655,2382
38,201801,2018,Q1,01,1068,3736,8772,630,2393
39,201712,2017,Q4,12,1116,3818,9220,597,2523
40,201711,2017,Q4,11,1160,3735,8947,582,2415
41,201710,2017,Q4,10,1096,3411,8656,624,2274
42,201709,2017,Q3,09,1106,3699,7437,671,2548
43,201708,2017,Q3,08,1140,3981,8611,656,2593
44,201707,2017,Q3,07,1078,3859,9226,650,2503
45,201706,2017,Q2,06,1129,3910,9181,611,2373
46,201705,2017,Q2,05,1111,3819,9297,617,2379
47,201704,2017,Q2,04,1062,3801,8925,648,2519
48,201703,2017,Q1,03,891,3698,8502,606,2351
49,201702,2017,Q1,02,902,3628,8178,590,2194
50,201701,2017,Q1,01,1050,3722,8387,613,2346
51,201612,2016,Q4,12,1063,3714,8879,602,2258
52,201611,2016,Q4,11,1118,3674,8650,626,2167
53,201610,2016,Q4,10,1091,3577,8108,592,2086
54,201609,2016,Q3,09,1108,3624,8497,644,2467
55,201608,2016,Q3,08,1098,3746,8605,612,2533
56,201607,2016,Q3,07,1061,3723,8719,631,2486
57,201606,2016,Q2,06,1126,3683,8579,647,2399
58,201605,2016,Q2,05,1184,3607,8565,575,2306
59,201604,2016,Q2,04,1158,3334,8468,514,2447

In [38]:
C_Final_dataFrame['(PADD1) Refinery and Blender Net Input of Crude Oil'].describe()

count      63.000000
mean      929.031746
std       210.054138
min       523.000000
25%       771.500000
50%      1029.000000
75%      1102.000000
max      1184.000000
Name: (PADD1) Refinery and Blender Net Input of Crude Oil, dtype: float64

# d. For each year/month, sum up the ‘Refinery and Blender Net Input of Crude Oil’ data for the five PADDs and assign the name ‘Total US Refinery Net Input of Crude Oil’ to the time series

In [50]:
Total_US_Refinery_and_Blender_Net_Input_of_Crude_Oil=[]
for i in range(len(C_Final_dataFrame['Period'])):
    sumRow=0
    sumRow+=C_Final_dataFrame['(PADD1) Refinery and Blender Net Input of Crude Oil'][i]+C_Final_dataFrame['(PADD2) Refinery and Blender Net Input of Crude Oil'][i]+C_Final_dataFrame['(PADD3) Refinery and Blender Net Input of Crude Oil'][i]+C_Final_dataFrame['(PADD4) Refinery and Blender Net Input of Crude Oil'][i]+C_Final_dataFrame['(PADD5) Refinery and Blender Net Input of Crude Oil'][i]
    Total_US_Refinery_and_Blender_Net_Input_of_Crude_Oil.append(sumRow)

In [40]:
print(Total_US_Refinery_and_Blender_Net_Input_of_Crude_Oil)

[14383, 12374, 14525, 14140, 14125, 13446, 13573, 14152, 14337, 13732, 12959, 12787, 15226, 15866, 16231, 16793, 16482, 15680, 16403, 17297, 17174, 17236, 16719, 16341, 15935, 15847, 16783, 17410, 17162, 16412, 16990, 17623, 17357, 17666, 16969, 16766, 16666, 15937, 16599, 17274, 16839, 16061, 15461, 16981, 17316, 17204, 17223, 16955, 16048, 15492, 16118, 16516, 16235, 15454, 16340, 16594, 16620, 16434, 16237, 15921, 16083, 15843, 15952]

In [52]:

Total_US={'Period':PADD['Period_Monthly_Frequency'],
            'Quarter':period_quarter,
            '(PADD1) Refinery and Blender Net Input of Crude Oil': PADD['PADD1_value_in_Thousand_Barrels_per_Day'],
               '(PADD2) Refinery and Blender Net Input of Crude Oil': PADD['PAAD2_value_in_Thousand_Barrels_per_Day'],
               '(PADD3) Refinery and Blender Net Input of Crude Oil': PADD['PAAD3_value_in_Thousand_Barrels_per_Day'],
               '(PADD4) Refinery and Blender Net Input of Crude Oil': PADD['PAAD4_value_in_Thousand_Barrels_per_Day'],
               '(PADD5) Refinery and Blender Net Input of Crude Oil': PADD['PAAD5_value_in_Thousand_Barrels_per_Day'],
               '(Total US) Refinery and Blender Net Input of Crude Oil': Total_US_Refinery_and_Blender_Net_Input_of_Crude_Oil}

d_Summarization_monthly_data_by_Quarter=pd.DataFrame(Total_US)


d_Summarization_monthly_data_by_Quarter

,Period,Quarter,(PADD1) Refinery and Blender Net Input of Crude Oil,(PADD2) Refinery and Blender Net Input of Crude Oil,(PADD3) Refinery and Blender Net Input of Crude Oil,(PADD4) Refinery and Blender Net Input of Crude Oil,(PADD5) Refinery and Blender Net Input of Crude Oil,(Total US) Refinery and Blender Net Input of Crude Oil
0,202103,Q1,677,3617,7512,557,2020,14383
1,202102,Q1,592,3297,6042,580,1863,12374
2,202101,Q1,597,3628,7919,559,1822,14525
3,202012,Q4,592,3427,7751,547,1823,14140
4,202011,Q4,591,3503,7601,552,1878,14125
...,...,...,...,...,...,...,...,...
58,201605,Q2,1184,3607,8565,575,2306,16237
59,201604,Q2,1158,3334,8468,514,2447,15921
60,201603,Q1,1061,3409,8643,583,2387,16083
61,201602,Q1,1093,3627,8269,575,2279,15843
62,201601,Q1,1137,3724,8146,575,2370,15952

In [53]:
d_Summarization_monthly_data_by_Quarter.describe()

,Period,(PADD1) Refinery and Blender Net Input of Crude Oil,(PADD2) Refinery and Blender Net Input of Crude Oil,(PADD3) Refinery and Blender Net Input of Crude Oil,(PADD4) Refinery and Blender Net Input of Crude Oil,(PADD5) Refinery and Blender Net Input of Crude Oil,(Total US) Refinery and Blender Net Input of Crude Oil
count,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000
mean,201820.571429,929.031746,3676.984127,8484.047619,604.015873,2294.873016,15988.952381
std,152.939131,210.054138,232.596112,699.181490,46.534584,254.361598,1277.273829
min,201601.000000,523.000000,2914.000000,6042.000000,441.000000,1654.000000,12374.000000
25%,201704.500000,771.500000,3556.000000,8223.500000,577.000000,2201.000000,15586.000000
50%,201808.000000,1029.000000,3699.000000,8643.000000,609.000000,2379.000000,16340.000000
75%,201911.500000,1102.000000,3821.500000,8974.000000,637.500000,2474.000000,16897.000000
max,202103.000000,1184.000000,4106.000000,9375.000000,692.000000,2637.000000,17666.000000

# e. Create a new output table that summarizes monthly data by ‘ Quarter’ for each of the six time series (‘PADD 1 Refinery and Blender Net Input of Crude Oil’, ‘(PADD 2)…’ ‘(PADD 3)… ’, ‘(PADD 4)… ’, ‘(PADD 5)…’, ‘Total US…’)

# f. Create a new output table that summarizes monthly data by ‘ Year’ f or each of the six (6) time series (‘PADD 1 Refinery and Blender Net Input of Crude Oil’, ‘(PADD 2)…’ ‘(PADD 3)… ’, ‘(PADD 4)… ’, ‘(PADD 5)…’, ‘Total US…’)